/ninjanet_mern/workout_api/.env
/ninjanet_mern/workout_api/node_modules
/mern-blog/blog-api/node_modules
/mern-blog/blog-api/.env
/mern-blog/blog-ui/node_modules
/mern-blog-modern/blog-ui/node_modules
/mern-blog-modern/blog-api/node_modules
/mern-blog-modern/blog-api/.env
/frontend/tictactoe_ts/node_modules 
/frontend/tictactoe_ts/dist
/frontend/light-dark/node_modules 
/frontend/light-dark/.env
/frontend/light-dark/dist
/backend/node_ts_auth/node_modules
/backend/node_ts_auth/.env
/backend/node_ts_auth/dist
