body {
  background-color: #131313;
  color: aliceblue;
  font-size: 64.5%;
  height: 100vh;

  position: relative;
}

.wrapper {
  background-color: #252525;
  height: 500px;
  width: 500px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  gap: 2rem;

  padding: 2rem;
  max-width: 30rem;
  width: 100%;
}

.cell {
  background-color: transparent;
  border: 1px dashed #505050;
  cursor: pointer;
  height: 0;
  padding-bottom: 100%;
  transition: all 0.8s ease-out;
}

.active {
  background-color: #539e3c;
}
