:root {
  --clr-default: #888;
  --clr-active: rgb(243, 64, 64);
  --clr-light: #f2f2f2;
}

body {
  background-color: #242424;
  color: #cfcfcf;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.like-btn {
  background-color: var(--clr-light);
  border: 2px solid var(--clr-default);
  border-radius: 20px;
  color: var(--clr-default);
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 110px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: all 0.4s ease-out;
}
.like-btn:disabled {
  background-color: black;
}
.like-btn span {
  text-align: left;
  transition: all 0.4s ease-out;
  width: 7ch;
}

.like-btn:hover,
.like-btn:hover span {
  border-color: var(--clr-active);
  color: var(--clr-active);
}

.liked,
.liked:hover,
.liked span {
  border-color: var(--clr-active);
  color: var(--clr-active);
}
.liked:hover,
.liked:hover span {
  border-color: var(--clr-default);
  color: var(--clr-default);
}

.error {
  color: var(--clr-active);
}
