@use "./../utils/index" as *;

.card__container {
  margin: rem(50) 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: rem(10);

  @include breakpoint(medium) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.card {
  background-color: var(--card-bg);
  border-radius: rem(10);
  color: var(--text-color);
  overflow: hidden;
  padding: rem(25);
  text-align: center;
  transition: var(--transition-color-mode);
  width: rem(200);

  &:hover {
    background-color: var(--card-hover);
  }

  &--instagram {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: rem(5);

      background: linear-gradient(
        to left,
        var(--instagram-start) 0%,
        var(--instagram-middle) 33%,
        var(--instagram-end) 67%
      );
    }
  }
  &--facebook {
    border-top: rem(4) solid var(--facebook);
  }
  &--twitter {
    border-top: rem(4) solid var(--twitter);
  }
  &--youtube {
    border-top: rem(4) solid var(--youtube);
  }

  &__platform {
    display: flex;
    justify-content: center;
    gap: rem(5);

    margin-bottom: rem(13);
  }

  &__icon {
    &--facebook {
    }
    &--instagram {
    }
    &--twitter {
    }
    &--youtube {
    }
  }
  &__username {
    font-size: rem(12);
    font-weight: bold;
  }

  &__count {
    color: var(--text-color);
    line-height: 1;
    margin-bottom: rem(25);

    &--big {
      font-size: rem(56);
    }
    &--small {
      font-size: rem(36);
    }
  }

  &__label {
    color: var(--text-color2);
    font-size: rem(11);
    font-weight: 100;
    letter-spacing: rem(6);
    text-transform: uppercase;
  }

  &__change {
    font-size: rem(12);
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(2);

    &--up {
      color: var(--limegreen);
    }
    &--down {
      color: var(--brightred);
    }

    & img {
      height: rem(6);
      width: auto;
    }
  }
}
