@use "./../utils/index" as *;

.toggle {
  border: none;
  transition: var(--transition-color-mode);

  display: grid;
  grid-template-columns: rem(70) rem(50);
  justify-items: center;
  align-items: center;
  column-gap: rem(2);

  & label {
    grid-column: 1 / 2;

    color: var(--text-color2);
    cursor: pointer;
    font-size: rem(12);
    text-align: center;
  }

  &__wrapper {
    grid-column: 2 / 3;

    height: rem(24);
    position: relative;

    & input[type="radio"] {
      cursor: pointer;
      margin: 0;
      // margin-right: rem(-3);
      opacity: 1;
      width: rem(20);
      z-index: 3;

      &#dark:checked ~ .toggle__button {
        left: rem(3);
        right: 100%;
      }
      &#light:checked ~ .toggle__button {
        left: 90%;
        right: rem(3);
        transform: translateX(-90%);
      }
    }
  }

  &__background {
    background: var(--toggle-bg);
    border-radius: rem(20);
    display: block;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    width: 100%;

    position: absolute;
    top: 0;
  }
  &__button {
    background-color: var(--toggle-button);
    border-radius: 50%;
    height: rem(18);
    transition: all 0.2s ease-in-out;
    width: rem(18);

    position: absolute;
    top: rem(3);
    left: rem(3);
    right: 100%;
  }
}
