@use "./../utils/index" as *;
h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.5;
}

h1 {
  font-size: rem(24);
  @include breakpoint(large) {
    font-size: rem(28);
  }
}

a,
a:visited,
a:link {
  text-decoration: none;
}
