:root {
  /* COLORS */
  --clr-primary: #1aac83;
  --clr-error: #f62020;
  --clr-error-bg: #a05f5f;
  --clr-light-1: #ffffffde;
  --clr-light-2: #dcdcdc;
  --clr-dark-1: #242424;
  --clr-dark-2: #303030;
  --clr-links: #a0a4f0;
  --clr-links-hover: #b4b6da;

  /* INFRA */
  --padding-infra: 0.3rem 5rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-dark-1);
  border: 2px dashed #19c83e;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: var(--clr-links);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none !important;
  text-transform: uppercase;
}

a:hover {
  color: var(--clr-links-hover);
}

.navbar-header {
  background-color: #303030;
  height: 6rem;
}

.navbar-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: var(--padding-infra);
  height: 100%;
  width: 100%;
}

.pages {
  max-width: 140rem;
  padding: var(--padding-infra);
  margin: 0 auto;
}

.home {
  background-color: transparent;
  color: var(--clr-light-1);
  margin-top: 5rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
}

.workouts {
  grid-column: 1 / 1;
}
.workout-form-container {
  grid-column: 2 / -1;
}
.workouts,
.workout-form-container {
  border: 2px solid var(--clr-dark-2);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2) inset;
  padding: 1rem;
}

.workout {
  background-color: var(--clr-dark-2);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  position: relative;
}

.workout:not(:last-child) {
  margin-bottom: 1rem;
}

.workout h4 {
  color: var(--clr-primary);
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.workout p {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--clr-light-2);
}

.workout span {
  position: absolute;
  top: 2rem;
  right: 2rem;

  background-color: var(--clr-light-1);
  border-radius: 70%;
  color: var(--clr-error);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.4rem 0.7rem;
}

.workout-form-container {
  background-color: var(--clr-dark-1);
  border: 2px solid var(--clr-dark-2);
  padding: 1rem;
  height: max-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-form-container form {
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  background-color: var(--clr-dark-2);
  height: 100%;
  padding: 1rem;
  width: 100%;
}
.workout-form-container form h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--clr-primary);
  letter-spacing: 0.3rem;
  margin-bottom: 2rem;
}

.input-box {
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 0.5rem;
}

.input-box label {
  color: var(--clr-primary);
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.input-box .input {
  display: inline-block;
  background-color: var(--clr-dark-1);
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2) inset;
  color: var(--clr-light-2);
  font-size: 1.3rem;
  height: 3rem;
  outline: 1px solid var(--clr-dark-1);
  padding: 1rem 0.9rem;
}
.input-box .input.input-error {
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(98, 0, 0, 0.2) inset !important;
  background-color: var(--clr-error-bg);
  outline: 1px solid var(--clr-error);
}

.input-box button {
  background-color: var(--clr-dark-1);
  border: 2px solid transparent;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  color: var(--clr-light-1);
  cursor: pointer;
  font-size: 1.5rem;
  height: 4rem;
  outline: none;
  transition: all 0.4s ease-out;
}

.input-box button:hover,
.input-box button:focus {
  background-color: var(--clr-dark-2);
  border: 2px solid var(--clr-dark-1);
  color: var(--clr-primary);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2) inset;
}

.input-box button:active {
  background-color: var(--clr-dark-2);
  border: 2px solid var(--clr-primary);
  color: var(--clr-light-1);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.error-form {
  border: 1px dashed var(--clr-error);
  color: var(--clr-error);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 0.8rem 0.5rem;
}
/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
