:root {
  color: #ffffffde;
  background-color: #242424;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --bg-success: #4caf50;
  --bg-info: #2196f3;
  --bg-warning: #ff9800;
  --bg-error: #f44336;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}

.container {
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  height: 70vh;
  width: 70vw;
}

.container h1 {
  padding-top: 1em;
  text-align: center;
}

.notification {
  display: flex;
  align-items: center;
  gap: 2rem;

  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  margin: 1rem;
  padding: 1.5rem;
  position: relative;
  width: fit-content;
}

.notification > svg {
  height: 3rem;
  width: 3rem;
}

.notification.success {
  background-color: var(--bg-success);
}
.notification.info {
  background-color: var(--bg-info);
}
.notification.warning {
  background-color: var(--bg-warning);
}
.notification.error {
  background-color: var(--bg-error);
}

.notification > svg.closeBtn {
  background-color: #242424;
  border: none;
  border-radius: 999px;
  color: #ffffffde;
  cursor: pointer;
  height: 2rem;
  padding: 0.4rem;
  width: 2rem;

  position: absolute;
  right: 1rem;
}

.top-right {
  position: fixed;
  top: 1rem;
  right: 2rem;
}
.top-left {
  position: fixed;
  top: 1rem;
  left: 2rem;
}
.top-center {
  position: fixed;
  top: 1rem;
  right: 50rem;
}
.bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
}
.bottom-left {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
}
.bottom-center {
  position: fixed;
  bottom: 1rem;
  right: 50rem;
}
