:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-font: #ffffffde;
  --bg-color: #242424;
  --clr-primary: #646cff;
  --clr-progress: #56ce46;
  --bxs: 0 2px 4px rgba(0, 0, 0, 0.5);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-color);
  color: var(--clr-font);
  font-size: 1.6rem;
  min-height: 100vh;
}

.container {
  box-shadow: var(--bxs);
  width: 50rem;
  height: 50vh;
  padding: 2rem;
}

.container h1 {
  color: var(--clr-primary);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.progressbar {
  border-radius: 0.5rem;
  height: 3rem;
  margin: 3rem auto;
  box-shadow: var(--bxs);
  position: relative;
  overflow: hidden;
  width: 90%;
}
.progressbar span {
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.progressbar .progress {
  background-color: var(--clr-progress);
  height: 100%;
}
