:root {
  --clr-primary-1: #ea5353;
  --clr-primary-2: #45d3d3;
  --clr-primary-3: #fcaf4a;
  --clr-primary-4: #549ef2;
  --clr-text-dark-1: #4c4e61; /* Dark blue */
  --clr-text-dark-2: #a3a4ae;
  --clr-text-light-1: #fafafa;
  --clr-dark-1: #1f1f1f;
  --clr-dark-2: #373737;
  --clr-light-1: #f0f0f0;
  --clr-light-2: #ededed;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

body {
  background-color: var(--clr-dark-1);
  color: var(--clr-light-1);
  padding: 5rem;
}

header {
  text-align: center;
}
header h1 {
  color: var(--clr-text-dark-2);
  font-size: 3.6rem;
}
header h1.isLight {
  font-weight: 200;
}
header h1.isBold {
  font-weight: 500;
}

header .subtitle {
  color: var(--clr-text-dark-2);
  font-size: 1.5rem;
  font-weight: 200;
}

/* CARDS */

.card {
  background-color: var(--clr-dark-2);
  border-top: 0.4rem solid;
  border-radius: 1rem;
  padding: 2rem;
  text-align: left;
  max-width: 100%;
  width: 35rem;
}

.card h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.3rem;
  color: var(--clr-text-light-1);
  margin-bottom: 2rem;
}

.card img {
  display: block;
  margin-left: auto;
}
