*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark-1: #060a0f;
  --color-dark-2: #0e2542;
  --color-light-1: #bbd4f5;
  --color-light-2: #e9eef4;
  --box-shadow: 0 0 2px var(--color-dark-2);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark-1);
  color: var(--color-light-1);
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 3rem;
}

.container {
  background-color: inherit;
  position: relative;
  z-index: 1;
}

.site__footer {
  /* Hides the footer */
  background-color: var(--color-light-1);
  color: var(--color-dark-2);
  padding: 8rem;
}

@media screen and (min-width: 768px) {
  .site__footer {
    /* STICKYNESS */
    position: sticky;
    bottom: 0;
  }
}
